* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(237, 237, 237);
}

Header {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 150, 244);
  padding: 1rem;
  z-index: 99;
  position: sticky;
  top: 0;
}
.Headertext {
  font-size: 3.2rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.maininput {
  margin: 0 auto;
  max-width: 70rem;
}

input {
  height: 4rem;
  width: 7rem;
  background-color: rgb(155, 222, 253);
  border-radius: 6px;
  font-size: 1.8rem;
  justify-content: center;
  text-align: center;
  transition: 500ms;
  border: none;
}

.fixed {
  background-color: rgb(69, 23, 23);
  color: whitesmoke;
}

input:hover {
  outline: none;
  color: white;
  background-color: rgb(65, 130, 130);
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  color: beige;
  font-weight: 700;
  font-size: 1.6rem;
}

.Achievedinput {
  position: relative;
}

.expectedinput,
.Achievedinput {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  color: rgb(65, 167, 215);
  padding: 1rem 0;
  border-bottom: 1px solid rgb(164, 162, 162);
}

label {
  color: rgb(69, 68, 70);
}

.expectedpoints,
.Achievedpoints {
  font-weight: bold;
  padding: 1rem;
  font-size: 2.4rem;
}

.action {
  padding: 2rem;
  text-align: center;
}

.btn {
  border: none;
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
}

.btn-submit--form {
  background-color: #14b6f6;
  color: white;
  transition: 0.3s;
  box-shadow: 10px 5px 7px rgba(0, 0, 0, 0.4);
}
.btn-submit--form:hover {
  background-color: #36f50b;
  transform: translateY(-1px);
}
.btn-submit--form:active {
  box-shadow: 7px 3px 7px rgba(207, 33, 33, 0.3);
  transform: translateY(1px);
}

.fixed-input-btn {
  color: #f7f7f7;
  background-color: rgb(23, 147, 46);
  margin-top: 2rem;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.fixeed-input-btn,
.fixedbtn {
  background-color: rgb(56, 9, 9);
}

.fixed-input-btn:hover {
  background-color: rgb(10, 10, 10);
}

.fixed-input-btn:active {
  background-color: rgb(190, 119, 119);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

th {
  height: 4rem;
  width: 12rem;
  background-color: rgb(104, 196, 239);
  font-size: 1.6rem;
  transition: 500ms;
  overflow: hidden;
}

.tbody5 th,
.tbody7 th {
  background-image: linear-gradient(
    99deg,
    rgb(133, 217, 247),
    rgb(242, 244, 245)
  );
  color: #1801e0;
}

.tfoot th {
  background-image: linear-gradient(
    39deg,
    rgb(239, 241, 239),
    rgb(206, 221, 236)
  );
  color: black;
}

tbody,
thead,
tfoot {
  border: 2px solid rgb(205, 190, 190);
  border-radius: 1rem;
}

.scoretext {
  max-width: 80rem;
  margin: 0 auto;
  background-color: rgb(104, 196, 239);
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.popup {
  opacity: 0.8;
  position: absolute;
  top: -10%;
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  transition: 1s;
}

.message {
  display: none;
  padding: 1rem;
  background-color: white;
  color: rgb(8, 8, 8);
  text-align: center;
}

.winner-popup {
  width: fit-content;
  display: block;
  margin: 0 auto;
  background-color: rgb(224, 42, 78);
  color: rgb(243, 239, 239);
  padding: 2rem;
  text-align: center;
}
.hidden{
    display: none;
}
.usersnamess{
     position: fixed ;
    bottom: 35%;
    right: 40%;
    border-radius: 10%;
}
header form{
    background-color: aliceblue;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center;
    width: 30rem;
    height: max-content;
}
header form input{
    margin: 2rem;
    width: 15rem;
}

.usersnamess label {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: white !important; /* Change to a visible color */
    padding: 0.5rem; /* Adjust padding for better text visibility */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
} 
@media (max-width: 700px) {
  html {
    font-size: 50%;
  }
  header form{
    width: 30rem;
  }
   .usersnamess{
     position: fixed ;
    bottom: 40%;
    right: 20%;}
}
@media (max-width: 500px) {
    .usersnamess{
     position: fixed ;
    bottom: 20%;
    right: 20%;}
}
