
*{padding: 0;
    margin: 0;
      font-family: 'Inter', sans-serif;
}body{
    height: 100vh;
   background-color: rgb(237, 237, 237);
}
Header{
 display: flex;
 justify-content: center;
 background-color: rgb(0, 150, 244);
 padding: 1rem;
 position: sticky;
 top: 0px;
 bottom: 1%;
}
.Headertext{
    font-size: 2rem;
    color: rgb(255, 255, 255);
font-weight:800;

}
form{
    display: flex;
    align-items: center;
    
}
input{
  
    height: 4rem;
    width: 10rem;
    background-color: rgb(8, 177, 255);
    border: none;
    border-radius:2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    transition: 500ms;
}
input:hover{
    background-color: rgb(157, 171, 171);
    border: none;
}
input:focus{
    border-radius:1rem;
     background-color: rgb(202, 220, 220);
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    color: beige;
    font-weight: 700;
    font-size: 1rem;
}
.expectedinput,.Achievedinput{
    display: flex;
     color: rgb(187, 181, 181);
     padding: 1rem 0rem;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid rgb(164, 162, 162);
}
form{
    padding: 1rem 0rem;
}
label{
    color: rgb(30, 25, 34);
}
.expectedpoints , .Achievedpoints{
    font-weight: bold;
    padding:1rem  2rem;
    font-size: 2rem;  

}
button{
    margin-left: 1rem;
    width: 5rem;
    height: 3rem;
    color: rgb(136, 146, 146);
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(163, 162, 162);
}
table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

th{
    height: 4rem;
    width: 10rem;
    background-color: rgb(104, 196, 239);
    font-size: 2rem;
    transition: 500ms; 
   overflow: hidden;
}

tbody,thead,tfoot{
    border: 2px solid rgb(154, 151, 151);
    border-radius: 1rem;
}

.tbody5 th{ 
     background-color: rgb(87, 123, 139);
color: rgb(32, 35, 34);
}
.scoretext{
    background-color: rgb(104, 196, 239);
    display: flex;
    justify-content: center;
    padding: 1rem;
   
}
.cuser{
    background-color: rgb(202, 65, 65);
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: aliceblue;
}
.hidden{
    display: none;
}
@media ( max-width:900px){
    input{
        height: 2rem;
    width: 3rem;
    font-size: 0.9rem;

    }
    th{
    height: 2rem;
    width: 4rem;}
   .expectedpoints , .Achievedpoints{
    font-weight: bold;
    padding:1rem  0.5rem;
    font-size: 1rem;  
}
    th{
    height: 2rem;
    width: 5rem;
    font-size:1rem ;
}
.user{
    margin-left: 0.4rem;
}
}